@use './globalStyle.scss' as *;


.containerCardSmall {
    height: 200px;
}

.Image {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 10px;
    @include box-shadow;
    object-fit: contain;
    background-color: $card-color;
}

.ImageCover {
    object-fit: cover;
}

.containerText {
    color: #ffffff;
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;

    .backgroundText {
        background-color: $background-opacity-light;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-bottom: 8px;
        padding-top: 8px;
    }
}

.flexHome {
    display: flex;
    gap: 18px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 18px;
    justify-content: center;
}

.flexTitleHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.marginTopWine {
    margin-top: 8px;
}

.marginTopContainerWine {
    margin-top: 64px;
}



// MEDIA QUERIES

@media (max-width : 800px) {

    .marginTopContainerWine {

        h2 {
            text-align: center;
        }
    }
}