// VARIABLE **************

// COLORS

$primary-color: #153114;
$primary-color-hover: #214920;
$subtitle-item-color: #77452e;
$second-color: #FFF2E6;
$card-color: #FFF9F3;
$macaron-color: #9AD398;
$text-light-color: #ffffff;
$text-drack-color: #000;
$background-opacity-dark: #110300d6;
$background-opacity-light: #110300a1;


// MIXIN ***********

// TEXTS

@mixin main-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

@mixin poem-text {
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-style: normal;
}

@mixin text-h1 {
    font-size: 40px;
}

@mixin text-h2 {
    font-size: 40px;
    font-weight: 500;
}

@mixin text-h3 {
    font-size: 32px;
}

@mixin text-h4 {
    font-size: 20px;
}

@mixin text-p {
    font-size: 16px;
}

@mixin text-button {
    font-size: 16px;
}

@mixin text-nav {
    text-decoration: none;
    color: $text-light-color;
    padding: 0.5rem 0;
    transition: color 0.3s ease;
    position: relative;
}

@mixin text-nav-active {
    color: $text-light-color;
}

h1,
h2,
h3,
h4,
p,
span,
a,
li {
    @include main-text()
}

// BOX SHADOW 

@mixin box-shadow {
    box-shadow: 0px 4px 13px 1px rgb(85 78 71 / 0.2);
}