@use '../styles/globalStyle.scss' as *;

.infos {
    display: flex;
    gap: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.iconMenu {
    height: 20px;
    width: 20px;
    background-color: $macaron-color;
    border-radius: 50px;
}