@use './globalStyle.scss' as *;

.sectionContentPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    margin-top: 64px;
}

.paddingContact {
    margin-top: 0;
    padding-top: 132px;
}

.containerMotion,
.containerMotionCenter {
    width: 100%;
}

.containerMotionCenter {
    display: flex;
    justify-content: center;
}

// MEDIA QUERIES

@media (max-width : 800px) {

    .sectionContentPage {
        margin-top: 34px;
    }

    .sectionContentPageContact {
        margin-top: 0px;
    }
}